div.tooltip {	
    position: absolute;			
    text-align: center;					
    padding: 2px;				
    font: 8px;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 3px;			
}

.brush .extent {
  stroke: #000;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.links {
  fill: none;
  stroke: #000;
}

.link-extensions {
  fill: none;
  stroke: #000;
  stroke-opacity: .25;
}

.labels {
  font: 10px sans-serif;
}

.link--active {
  stroke: #000 !important;
  stroke-width: 3px;
}

.link-extension--active {
  stroke-opacity: .6;
}

.label--active {
  font-weight: bold;
  stroke: #000;
}

.region--active {
	stroke-width: 5px;
	stroke: #fff;
}

rect.cell-border {
	stroke: #eee;
	stroke-width:0.3px;   
}

rect.cell-selected {
	stroke: rgb(51,102,153);
	stroke-width:0.5px;   
}

rect.cell-hover {
	stroke: #F00;
	stroke-width:2px;   
}

text.mono {
	font-size: 8px;
	fill: #aaa;
}

text.text-highlight {
	stroke: #000;
}

#tooltip1 {
	position: absolute;
	width: auto;
	height: auto;
	padding: 10px;
	background-color: white;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	pointer-events: none;
}

#tooltip1.hidden {
	display: none;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}
